// https://chir.ag/projects/name-that-color/

$alabaster: #f8f8f8;
$alabaster-transparent: #f8f8f880;
$amaranth: #ef2e55;
$athens: #e5e7eb;
$big-stone: #182e47;
$black: #000;
$boulder: #7a7a7a;
$cello: #244365;
$cloud-burst: #1e344c;
$deep-cove: #051d38;
$glacier: #7199C6;
$malibu: #4ee3fa;
$mountain-meadow: #23d160;
$mustard: #E2B422;
$pale-sky: #6B7280;
$steel-blue: #4A7FBA;
$tundora: #4a4a4a;
$white: #ffffff;
