.search-bar {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 0 0 0.375rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 0.375rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}